# Environments
venv/
.env
__pycache__/
*.pyc

# Credentials & Keys
credentials.json
*.pem
*.key

# Sensitive Configs (Keep the template, ignore the real one)
config/*.json
!config/config_template.json

# Logs
*.log
logs/
